<div class="container">
    <h1 style="text-align: center;">Ponete la 10</h1>
    <div style="text-align: center;">
        <img  src="../../../assets/descarga.jpg" alt="" style="width:900px;">
    </div>
    <div class="botones" style="text-align:center;">
 <!--        <button style="margin: 15px;" class="btn btn-outline-primary" [routerLink]="['/MostrarClientes']">
            <i class="fas fa-users"></i>
            Clientes</button>
        <button style="margin: 15px;" class="btn btn-outline-primary" [routerLink]="['/MostrarPedidos']">
            <i class="fas fa-list-ul"></i>
            Pedidos</button>
        <button style="margin: 15px;" class="btn btn-outline-primary" [routerLink]="['/MostrarCatalogo']">
            <i class="fas fa-tshirt"></i>
            Catalogo</button> -->

            <button mat-button color="primary" [routerLink]="['/MostrarClientes']">CLIENTES</button>
            <button mat-button color="primary" [routerLink]="['/MostrarPedidos']" >PEDIDOS</button>
            <button mat-button color="primary" [routerLink]="['/MostrarCatalogo']" >CATALOGO</button>
    </div>
</div>
