<div class="container">
    <div style="position:relative;margin-top:1vh;float:left;right:8vw;margin-left:1vw;">
        <div style="position:relative;margin-left:1vw;">
          <a href="https://wa.me/542494685083" target="_blank">
            <i class="fab fa-whatsapp fa-w-14 fa-2x" style="color: #3f51b5;"></i>
          </a>
       
          <a href="https:/instagram.com/ponete_la_10" target="_blank">
            <i class="fab fa-instagram fa-w-14 fa-2x" style="color: #3f51b5;padding: 4px;"></i>
          </a>
        </div>
    
      </div>
    <div style="text-align: center;">
      <img  src="../../../assets/poneteLa10.png" alt="" class="slide-top" style="width:800px;">
    </div>
    <div class="botones" style="text-align:center;">
 <!--        <button style="margin: 15px;" class="btn btn-outline-primary" [routerLink]="['/MostrarClientes']">
            <i class="fas fa-users"></i>
            Clientes</button>
        <button style="margin: 15px;" class="btn btn-outline-primary" [routerLink]="['/MostrarPedidos']">
            <i class="fas fa-list-ul"></i>
            Pedidos</button>
        <button style="margin: 15px;" class="btn btn-outline-primary" [routerLink]="['/MostrarCatalogo']">
            <i class="fas fa-tshirt"></i>
            Catalogo</button> -->

            <button mat-raised-button color="primary"style="outline:none;height:35px;border-radius:25px;right:10px;" [routerLink]="['/MostrarClientes']">CLIENTES</button>
            <button  mat-raised-button color="primary"style="outline:none;height:35px;border-radius:25px;" [routerLink]="['/MostrarPedidos']" >PEDIDOS</button>
            <button  mat-raised-button color="primary"style="outline:none;height:35px;border-radius:25px;left:10px;" [routerLink]="['/MostrarCatalogo']" >CATALOGO</button>
            <button  mat-raised-button color="primary"style="outline:none;height:35px;border-radius:25px;left:20px;" [routerLink]="['/MostrarVendedores']" >PROVEEDORES</button>

    </div>
</div>
