.boxRight{
    
    position: relative;
    width:22vw;
}
.boxTalle{
    margin: auto;
    border: 1px solid black;
    position: relative;
    bottom: 43vh;
    float: right;
    left: 312px;
    }
th{
    text-align: center;
}
