  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="../../../assets/descarga.jpg" style="width:30px;border-radius: 50%;"  alt="">

    <a class="navbar-brand" href="#">Ponete la 10</a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="buscar" href="#">Buscar</a>
        </li>
        <li class="nav-item" routerLinkActive="active"> 
          <a class="nav-link" routerLink="/MostrarCatalogo" href="#">Catalogo</a>
        </li>
          <li class="nav-item" routerLinkActive="active"> 
            <a class="nav-link" routerLink="/MostrarClientes" href="#">Clientes</a>
          </li>
      </ul>
     </div>
  </nav>
  